table {

    border: 1px solid black;

    margin-left: auto;

    margin-right: auto;

}

 

input[type="button"] {

    width: 100%;

    padding: 20px 40px;

    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

    color: white;

    font-size: 24px;

    font-weight: bold;

    border: none;

    border-radius: 5px;

}

 

input[type="text"] {

    padding: 20px 240px;

    font-size: 24px;

    font-weight: bold;

    border: none;

    border-radius: 5px;

    border: 2px solid green;

    text-align: left;

}

 

display {

    text-align: left;

}